
/* Ajustes para telas pequenas */
@media (max-width: 780px) {
    /* Corpo */
    body {
        font-size: 14px; /* Reduz o tamanho padrão da fonte */
    }

    .topbar{
        display: flex;
        padding: 0.5rem 1rem;
    }

    .contact span{
        display: none;
    }

    .content-topbar i  {
        font-size: 1.8rem;
    }

    .logo img{
        width: 50%;
        margin-left: 10px;
    }

    nav {
        width: 100%;
        display: flex;
        align-items: center;
        max-height: 80px;
          z-index: 9;
    }

   .navbar-content {
        width: 100%;
        align-items: center;
        gap: 1rem;
      
        padding: 1rem 0;
    } 

    .menu-mobile {
        position: relative;
      
    }

    .menu-mobile i{
        color: white;
        font-size: 3.8rem;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }
    
    .navbar {
    flex-direction: column;
    gap: 3.4rem;
    position: absolute;
    width: 250px;
    top: -20px;
    right:  0;
    background-color: #0f2836;
    padding: 4rem 2rem;

    /* Início com o menu escondido */
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  
}

.navbar.show {
    transform: translateX(0); /* Mostra o menu deslizando */
    opacity: 1;              /* Torna o menu visível */
}

/* seção hero */

.hero{
    padding: 0rem 1rem;
    display: grid;
    grid-template-columns: 12% 20%;
    
}

.text-fit{
    display: none;
}

.text-info {
    flex-direction: column;
    max-width: 220px;
}

.text-info h1{
    font-size: 1rem;
    word-break: break-all;

}

.text-info  p {
    font-size: 0.8rem;
}


.banner img {
    width: 230px;
}

.banner::after{
    display: none;
}


.fit-icon i{
    font-size: 1.8rem;
}

.fit-icon span{
    width: 70px;
    font-size: 0.8rem;
    word-break: break-all;
}

}
